// indentation matter 
// use @pics as we want all the pics
//.col-md-6.col-md-offset-3
.col-md-12
    #pics.transitions-enabled
        - @pics.each do |pic|
            .box.panel.panel-default
                = link_to (image_tag pic.image.url(:medium)),pic
                // @pic not used as on pic.rb  we not used it but for edit nd show used
                %h2= link_to pic.title, pic

 